.date_time_zone {
  padding: 25px;
}

.newReservation_area h2 {
  text-align: center;
}

.list_area span {
  display: inline-block;
  width: 150px;
  margin-left: 20px;
  margin-right: 40px;
}

.list_area img {
  width: 75px;
  height: 75px;
}

.card {
  margin: 10px auto 0 auto;
}

