.home_page {
    text-align: center;
}

.home_page h1 {
    text-align: center;
    margin: 1.2em 0;
    padding-bottom: 1.2em;
    border-bottom: 1px solid #7a7a7a;
}
.home_page .col {
    padding: 30px;
}






