@font-face {
    font-family: tribal;
    src: url(../../fonts/TRIBAL__.ttf);
}

* {
    box-sizing: border-box;
    font-family: Helvetica;
    color: #fff;
    border: none;
}

body {
    background-size: cover;
    background-position: center center;
    background-image: linear-gradient(rgb(5, 5, 5), rgb(128, 128, 130));
}

.glass_efect {
    padding: 20px 30px;
    text-align: center;
    width: 400px;
    margin: auto;
    margin-top: 10vh;
    
    backdrop-filter: blur(11px) saturate(180%);
    -webkit-backdrop-filter: blur(11px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.575);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    color: white;
    box-shadow: 4px 4px 8px black;
}

.glass_efect h1 {
    text-align: center;
    font-family: tribal, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 30px 0px 18px 0px;
    color: #fff;
}

.glass_efect input {
    border-bottom: 2px solid rgb(89, 89, 89);
    padding: 10px;
    margin-bottom: 20px;
    outline: none;
    font-size: 1em;
    background-color: transparent;
    color: white;
}

label, input {
    display: block;
    width: 100%;
    text-align: left;
}

label {
    font-weight: bold;
    font-size: .8em;
}

input:focus {
    border-bottom: 2px solid #333;
}

#forgot-pass {
    display: inline-block;
    margin-left: 60%;
    text-align: right;
    font-size: .8rem;
}

.btn {
    text-align: center;
    padding: 50px;
}

/* From cssbuttons.io by @adamgiebl */
button {
    cursor: pointer;
    --green: #1BFD9C;
    font-size: 15px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
    background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%);
    color: var(--green);
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
   }
   
   button:hover {
    color: #82ffc9;
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
   }
   
   button:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%,rgba(27, 253, 156, 0.1) 60% , transparent 100%);
   }
   
   button:hover:before {
    transform: translateX(15em);
   }