.navbar a {
  text-decoration: none;
}

.navbar img {
  width: 75px;
  height: 75px;
}

.navbar_target {
  margin-right: 20px;
  padding: 0.5rem 1rem 0.5rem 0;
  color: #ffffff8c;
  text-decoration: none;
}

.navbar_target:hover {
  color: rgba(255, 255, 255, 0.75);
  transition: color 0.15s ease-in-out;
}
